@import "reset(good).css";
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");
:root {
  --navy: rgb(9, 40, 87);
  --grey: rgba(0, 0, 0, 0.3);
}
html {
  width: 375px;
  height: 812px;
}
body {
  font-family: "Rubik", sans-serif;
  margin: 0;
}

.Top_nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 15px;
  padding-bottom: 50px;
  background-color: var(--navy);
  margin-bottom: 60px;
}
.Top_nav span {
  font-size: 25px;
  color: white;
}
.search-box {
  position: absolute;
  top: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  width: 345px;
  height: 50px;
  padding: 5px 20px;
  margin: 0px 15px;
  border-radius: 30px;
  background-color: white;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
}
.search-box input {
  margin-left: 10px;
  display: flex;
  border: none;
  height: 30px;
  padding: 0;
}
.search-box input::placeholder {
  color: var(--grey);
  font-size: 20px;
}

h1 {
  font-size: 25px;
  font-weight: bold;
  margin-left: 20px;
}
.curation {
  padding: 20px 20px;
  display: flex;
  align-items: center;
}
.curation img {
  width: 120px;
  height: 180px;
  border-radius: 10px;
  margin-right: 20px;
}
.book-info {
  height: 180px;
}
h2 {
  font-size: 22px;
  font-weight: 500;
  padding-bottom: 10px;
  padding-top: 5px;
}
.book-info h4 {
  color: rgba(0, 0, 0, 0.3);
  padding-bottom: 10px;
  font-size: 17px;
}
.genre {
  margin: 15px 0px;
  display: flex;
  align-items: flex-end;
}
.genre > div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0px 10px 0px 10px;
  background-color: rgba(0, 0, 0, 0.1);
  margin-right: 10px;
  height: 30px;
  border-radius: 5px;
}
.btns {
  display: flex;
  align-items: center;
}
.bookmark {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  background-color: var(--navy);
  border-radius: 50%;
  margin-right: 20px;
}
.booking {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 60%;
  background-color: var(--navy);
  border-radius: 5px;
}
.Most_Searched_Books {
  overflow: hidden;
  height: 150px;
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-left: 20px;
}

.Most_Searched_Books > div {
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 15px;
  margin-bottom: 20px;
}
.Most_Searched_Books img {
  border-radius: 5px;
  margin-bottom: 5px;
  width: 80px;
  height: 120px;
}
.stars_mini {
  height: 10px;
}
.shop {
  white-space: nowrap;
  overflow: auto;
}
.shop::-webkit-scrollbar {
  width: 2px;
}
.container::-webkit-scrollbar-thumb {
  background-color: var(--navy);
  border-radius: 10px;
  box-shadow: inset 0px 0px 5px white;
}
.container::-webkit-scrollbar-track {
  background-color: white;
  border-radius: 10px;
  box-shadow: inset 0px 0px 5px white;
}

.shop__lists {
  display: flex;
}
.shop__list {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  width: 13vw;
  height: 13vw;
  margin: 10px;
}
.shop__list img {
  width: 10vw;
  height: 10vw;
  margin-bottom: 10px;
}
.shop__list__title {
  width: 20vw;
  text-align: center;
  font-weight: 600;
  font-size: 14px;
  color: var(--navy);
}
.Dollar_Amount {
  display: flex;
  align-items: center;
  justify-content: center;
}
