* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: #2ecc71;
}

.screen {
  width: 375px;
  margin: 25px auto;
  background: white;
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.screen__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.screen__header span {
  font-size: 24px;
  font-weight: bold;
}

.screen__header i:last-child {
  opacity: 0;
}

.screen__title {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

.screen__title__cover {
  min-width: 110px;
  height: 110px;
  border-radius: 20px;
  border: 3px solid black;
  background: #f39c12;

  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.screen__title__text__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.screen__title__text {
  font-size: 20px;
  padding-left: 20px;
  font-weight: 500;
}

.screen__title__text:first-child {
  font-size: 40px;
  font-weight: bold;
}

.screen__actions {
  display: flex;
  width: 100%;
  margin-top: 30px;
  justify-content: space-between;
}

.screen__actions div {
  display: flex;
  padding: 10px;
  border: 3px solid black;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 3px;
}

.screen__actions div:first-child {
  font-size: 20px;
  font-weight: bold;
  padding: 10px 35px;
}

.screen__actions div:first-child i {
  margin-right: 10px;
}

.screen__contents {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.screen__contents__content {
  width: 100%;
  margin-top: 20px;
  display: flex;
}

.screen__contents__content__cover {
  width: 60px;
  height: 60px;
  border: 3px solid black;
  border-radius: 10px;
  margin-right: 10px;
}

.screen__contents__content__cover--red {
  background-color: #e74c3c;
}

.screen__contents__content__cover--pink {
  background-color: pink;
}

.screen__contents__content__cover--blue {
  background-color: #3498db;
}

.screen__contents__content__cover--green {
  background-color: #2ecc71;
}

.screen__contents__content__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.screen__contents__content__text span:first-child {
  font-size: 24px;
  font-weight: bold;
}

.screen__contents__content__text span:last-child {
  margin-top: 10px;
  font-size: 15px;
  color: #34495e;
}
